<h2 id='title'>Welcome to Ember.js</h2>

{{outlet}}

<ul>
    <li><a href="https://github.com/sindresorhus/broccoli-strip-debug">broccoli-strip-debug</a></li>
    <li><del><a href='https://github.com/sindresorhus/broccoli-uncss'>broccoli-uncss</a></del></li>
</ul>


<div style="color:grey">v3</div>