<h2 id='title'>Welcome to Ember.js</h2>

{{outlet}}

<ul>
    <li><del><a href="https://github.com/sindresorhus/broccoli-closure-compiler">closure-compiler</a>,
        <a href="https://developers.google.com/closure/compiler/docs/api-tutorial3">Options</a></del>
    </li>
    <li><a href="https://github.com/sindresorhus/broccoli-htmlmin">html-min</a></li>
    <li><a href="https://github.com/sindresorhus/broccoli-strip-debug">strip-debug</a></li>
    <li>
        <del><a href='https://github.com/sindresorhus/broccoli-uncss'>uncss</a></del>
    </li>
</ul>


<div style="color:grey">v5</div>